<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>无标题文档</title>
    <link href="html/css/style.css" rel="stylesheet" type="text/css"/>

</head>

<body>
<div class="footer" style="text-align:center;">
    <i>&copy;2019 东方标准集团 粤ICP证*******号 粤公安网安备****************号</i>
</div>
</body>
</html>
